
.locationWarn {
  background-color: red;
  color: white;
  margin: 10px;
  
}

.daBigOne {
  background-color: white;
  color: black;
}

/* consolidate modals into one class at some point */
.accessGranted {
  background-color: green;
  color: white;
  margin: 10px;
}