@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Cookie);

body {
  /* font-family: 'Cookie', cursive; */
  font-family: 'Roboto', sans-serif;
  /* Don't you dare take away my cursive! */
};

h1 {
  font-family: 'Cookie', cursive;
}

.profilePhoto {
  width: 96.1%;
  padding-left: 52.5px;
}