.row.userHeader{
    align-content: center;
    margin-left: 200px;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 100px;
}

.profileIcon{
    width: 300px;
    height: 300px;
    margin-left: 0px;
    border: 5px solid rgb(9, 0, 65);
    border-radius: 50%
}

/* body {
    background-image: url("../../../src/swirl_pattern.png");
} */

.collection .collection-item{
    background-color: transparent;
    border-bottom: 1px solid black;
}

.collection{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;   
}

.col.loader {
    display: flex;
    align-content: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 400px;
}